* {
    box-sizing: border-box
}

body { 
    font-family: Arial, sans-serif;
}

.tabcontent { border: 1px solid #585858; height: 98vh; }

.tablink {
    background-color: #8b8b8b;
    color: white;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33.31%;
    margin: 0px;
    float: left;
}

.tablink.active, .tablink.active:hover {
    background-color: #585858;
}

.tablink:hover {
    background-color: #777;
}

textarea { 
    width: 98%; 
    height: 100px; 
    padding: 1%; 
    margin: 1%;
}

input {
    width: 100%;
    padding: 1%; 
}

.btn { 
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 4px 4px 2px -2px #d7d7d7;
    border-radius: 5px;
    border: none;
    background: #8b8b8b;
    width: 250px;
    color: #fff;
 }

 .btn:hover{
    background: #d7d7d7;
 }

#result { margin-top: 20px; text-align: center; font-size: 2rem }
.border{ border-radius: 5px;  border: 1px solid lightgrey; }